[package]
name = "p61_vst"
edition.workspace = true
rust-version.workspace = true
license = "ISC"
publish = false

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
p61_component.workspace = true
conformal_vst_wrapper.workspace = true
vst3.workspace = true
