[package]
name = "component_snapshots"
edition.workspace = true
rust-version.workspace = true
license = "ISC"
publish = false

[lints]
workspace = true

[dependencies]
conformal_component.workspace = true
dsp = { workspace = true, features = ["test-utils"] }
