@font-face {
  font-family: "Inter Display Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/InterDisplay-Regular.woff2) format("woff2");
}

:root {
  --bg-color: #1a1423;
  --text-color: #d6dbd2;
  --highlight-color-c3p: #c52184;
}

body {
  font-family: "Inter Display Regular", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 17.5px;
  line-height: 21px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  margin: 0px;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: inherit;
  padding: 0px;
}
