.slider-track {
  border-color: white !important;
}

.slider-ball {
  border-color: white !important;
}

.slider-ball-grabbed {
  background-color: white !important;
}

.slider-value-label {
  color: white !important;
}

.slider-label {
  color: white !important;
}

.knob-label {
  color: white !important;
  text-align: center;
}

.knob-display {
  color: white !important;
  width: 65px;
  height: 65px;
  margin-bottom: -10px;
}

body {
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
}
