.card {
  max-width: 800px;
  margin: 48px auto 48px;
  padding: 24px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-secondary-2);
  box-shadow: 20px 20px 40px 0
    color-mix(in srgb, var(--color-secondary-2) 25%, transparent);
}

.card h2 {
  font-size: 48px;
}

.card h3 {
  font-size: 24px;
}

.card p {
  margin-top: 0;
}

.card ul {
  list-style: disc;
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card li {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.35;
}

.card a {
  color: var(--color-primary-link);
  font-weight: 700;
}

@media (width <= 820px) {
  .card {
    margin: 48px 24px;
  }
}

@media (width <= 570px) {
  .card {
    margin: 48px 16px;
  }

  .card h3,
  .card li {
    font-size: 20px;
  }
}
