.linkButton {
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 200;
  font-family: "Inter";
  text-transform: lowercase;
}

.primary {
  background-color: var(--color-primary);
  box-shadow: 10px 10px 20px 0
    color-mix(in srgb, var(--color-primary) 12.5%, transparent);
}

.secondary {
  padding: 3px 13px;
  border: 3px solid var(--color-primary);
  box-shadow: 10px 10px 20px 0
    color-mix(in srgb, var(--color-primary) 12.5%, transparent);
}

@media (width <= 720px) {
  .linkButton {
    padding: 6px 14px;
    font-size: 20px;
  }

  .secondary {
    padding: 3px 11px;
  }
}
