[package]
name = "jx_alpha_vst"
edition.workspace = true
rust-version.workspace = true
publish = false

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
conformal_vst_wrapper = "0.3.8"
vst3 = "0.2.0"
jx_alpha_component = { path = "../component" }
