[package]
name = "reverb_vst"
edition.workspace = true
rust-version.workspace = true
publish = false

[lints]
workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
conformal_vst_wrapper.workspace = true
vst3.workspace = true
reverb_component.workspace = true
